*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(127, 204, 204);
}
.display__Number{
    width: 200px;
    height: 200px;
    background-color: aliceblue;
    text-align: center;
    margin: 50px auto;
}
h1{
    padding-top: 39%;
}

#plus, #less{
    height: 50px;
    width: 200px;
    margin: 10px auto;
    display: block;
    font-size: 30px;
    border-radius: 2px;
}
