

*{
    padding: 0;
    margin: 0;
}

body{
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: beige;
}
button{
    padding: 5px
}

.box{
    max-width: 600px;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
}
.box > button{
    margin: auto;
    padding: 10px;
    display: block;
    margin-top: 30px;
}